@import url('./vendor/normalize.css');
@import url('./vendor/fonts/fonts.css');

body {
  margin: 0 auto;
  width: 100%;
  min-width: 320px;
  background-color: #202020;
  font-family: 'Inter', Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
